 /* .approver{
    text-align: center;
    padding: 0 10px 5px 10px;
}

.spacing{
    text-align: center;
    margin-left: 10px;
    padding: 0 5px 0 5px;
} */

h2 {
    color : lightcoral;
    margin-left: 10px;
}

table {
    width: 100%;
  }

  td{
    word-wrap: break-word !important;
  }

  th{
    text-align: center;
    color: crimson;
  }

  .button{
   margin: 5px 0  0 10px;
  }

  .example-margin {
    margin: 0 10px;
  }
  .error{
    color: orangered;
    text-align: center;
}

a{
  cursor: pointer;
}

.spinner{
    position: absolute;
    top: 40%;
    left: 45%;
}