
<table bgcolor="white" align="center" class="TableBorderLTRBN" width="100%">

<tbody><tr>
    </tr><tr> 
                  <td align="left" valign="top"><table width="50%" align="left" cellpadding="2" cellspacing="2">
                      <tbody><tr> 
                        <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tbody><tr> 
                              <td height="39"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                 
                                        <tbody><tr> 
                                          <td width="7%"><img src="../../assets/Budget/Admin_organization_01.jpg" width="6" height="77" alt=""></td>
                                          <td width="93%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                              <tbody><tr> 
                                                <td height="6" background="../../assets/Budget//Admin_organization_02.jpg"></td>
                                              </tr>
                                              <tr> 
                                                <td height="20" background="../../assets/Budget/Admin_organization_04.jpg"><div align="center"> 
                                                    Budget</div></td>
                                              </tr>
                                              <tr> 
                                                <td height="51" background="../../assets/Budget/Admin_organization_05.jpg">&nbsp;</td>
                                              </tr>
                                            </tbody></table></td>
                                        </tr>
                                      </tbody></table></td>
                                      
                                    <td><img src="../../assets/Budget/Admin_personal.jpg" alt="" width="82" height="84"></td>
                                  </tr>
                                </tbody></table></td>
                            </tr>
                            
                          </tbody></table></td>
                      </tr>
    
    
<tr>
<td>
<table align="center" bgcolor="white" class="TableBorderLTRBN" border="0" cellpadding="1" cellspacing="0" width="96%">

<tbody><tr class="TableHeaderBG" valign="top">
    <th align="left" width="5%" class="HLabel">&nbsp;S.No</th>
	<th align="left" class="TableBorderH" width="1%">&nbsp;</th>
	<th align="left" class="HLabel" width="35%">Application</th>
	<th align="left" class="TableBorderH" width="1%">&nbsp;</th>
	<th align="left"><span class="HLabel" width="58%">Description</span></th>
</tr>

<tr class="TablerowBG2" valign="top">
<td align="center" class="HLabel" colspan="5">Expenditure Estimates
</td></tr>

<tr class="TablerowBG1" valign="top">
<td align="center" class="HLabel" colspan="5">Standing Charges Estimates - Form B &amp; G-i-A
</td></tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;1.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates / Correction(Without CSS)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimation/Correction</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;2.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Processing(For Department)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (Department Level)</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;3.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates (For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Excel Upload for FD User</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;4.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Approval(For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (In Finance)</td>
</tr>

<tr class="TablerowBG2" valign="top">
<td align="center" class="HLabel" colspan="5">New Item Estimates - Form C/F
</td></tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;5.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates / Correction</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimation/Correction</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;6.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Processing(For Department)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (Department Level)</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;7.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Approval(For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Approval in FD </td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;8.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates (For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimation/Correction (Finance)</td>
</tr>

<tr class="TablerowBG1" valign="top">
<td align="center" class="HLabel" colspan="5">Item Continuous Estimates - Form E
</td></tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;9.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates / Correction(Without CSS)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimation/Correction</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;10.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Processing(For Department)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (Department Level)</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;11.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates (For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimation</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;12.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Approval(For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Approval in FD</td>
</tr>

<tr class="TablerowBG2" valign="top">
<td align="center" class="HLabel" colspan="5">New Work Estimates -Form G/H
</td></tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;13.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates / Correction</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimation/Correction</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;14.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Processing(For Department)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (Department Level)</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;15.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Approval(For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Approval in FD</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;16.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates (For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates/Correction (For Finance)</td>
</tr>

<tr class="TablerowBG1" valign="top">
<td align="center" class="HLabel" colspan="5">Work-in-progress Estimates - Form I
</td></tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;17.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates / Correction</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimation/Correction</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;18.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Processing(For Department)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (Department Level)</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;19.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Esimates Approval(For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Approval in FD</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;20.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates (For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates/Correction (For Finance)</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;21.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Admin Screen</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Admin Screen</td>
</tr>

<tr class="TablerowBG1" valign="top">
<td align="center" class="HLabel" colspan="5">Excess Expenditure
</td></tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;22.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Excess Expenditure Form</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Excess Expenditure Form</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;23.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Excess Expenditure User Admin</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">User require Change rights for Minister-In-Charge</td>
</tr>

<tr class="TablerowBG2" valign="top">
<td align="center" class="HLabel" colspan="5">Receipt Estimates
</td></tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;24.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates/Corrections</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates/Corrections</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;25.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Processing(For Branch)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (Branch Level)</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;26.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Processing(For Department)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (Dept Level)</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;27.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates (For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates(For Finance)</td>
</tr>

<tr class="TablerowBG1" valign="top">
<td align="center" class="HLabel" colspan="5">Admin Screen
</td></tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;28.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Final Amount</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Updation of FD Approved Figures</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;29.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Approval(For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation and Approval in FD</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;30.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Integrated Estimates</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Integrated Estimates</td>
</tr>

<tr class="TablerowBG1" valign="top">
<td align="center" class="HLabel" colspan="5">Revised Receipt Estimates
</td></tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;31.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates/Corrections</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates/Corrections</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;32.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Processing(For Branch)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (Branch Level)</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;33.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Processing(For Department)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (Dept Level)</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;34.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates (For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates(For Finance)</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;35.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Approval(For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation and Approval in FD</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;36.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Integrated Revised Estimates</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Integrated Revised Estimates</td>
</tr>

<tr class="TablerowBG2" valign="top">
<td align="center" class="HLabel" colspan="5">Revised Expenditure Estimates
</td></tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;37.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates / Correction</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimation/Correction</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;38.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Processing(For Department)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Consolidation (Department Level)</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;39.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Estimates Approval(For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Approval in FD</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;40.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates (For Finance)</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Upload Estimates (For Finance)</td>
</tr>

<tr class="TablerowBG1" valign="top">
<td align="center" class="HLabel" colspan="5">Consolidation of Revenue Receipt
</td></tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;41.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Subject Entry</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Subject Entry</td>
</tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;42.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Detail Entry</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Detail Entry</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;43.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Mapping of Subject and Detail</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Mapping of Subject and Detail</td>
</tr>

<tr class="TablerowBG1" valign="top">
<td align="center" class="HLabel" colspan="5">Budget Reports
</td></tr>

<tr class="TablerowBG2" valign="top">
<td align="center" class="HLabel" colspan="5">Important Reports
</td></tr>


<tr class="TablerowBG1" valign="top">

	<td align="left" class="FieldGrey">&nbsp;44.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Departmentwise File status Report</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">Department File status Report</td>
</tr>


<tr class="TablerowBG2" valign="top">

	<td align="left" class="FieldGrey">&nbsp;45.</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">User Manual</td>
	<td align="left" class="TableBorder2" width="1%">&nbsp;</td>
	<td align="left" class="FieldGrey">User Manual</td>
</tr>


</tbody></table>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>

</tbody></table>